{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% block homecontent %}
    <h1 style="color: rgb(5, 5, 96);text-align: center;">ABOUT</h1>
    <p style="line-height: 1.5;letter-spacing: 1px;word-spacing: 10px;padding: 1% 5%;"><b>"Scope India"</b> primarily refers to a training institute based in Kerala and Tamil Nadu, specializing in software, networking, and cloud computing courses, with a focus on providing industry-oriented training to working professionals; its history is largely tied to the establishment of <b> "Suffix E Solutions"</b> which later rebranded as <b> "Scope India"</b> to signify its comprehensive approach to IT training across various domains like software development, cloud computing, and networking.</p>
    {% endblock %}
</body>
</html>