<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Mail</title>
</head>
<body>
    <img src="cid:logo_image" alt="Company Logo" style="width: 50%; height: auto;padding-left: 30%;">
    <h2>Dear Sufiya,</h2>
    <p>We are pleased to inform you that a new student has successfully registered at <b>SCOPE INDIA</b>.Below are the details of the registration:</p>
    <img src="cid:avatar_image" alt="User" style="border-radius: 50%;height: 150px;width: 150px;">
    <p><b>Username:</b> {{ f }}{{ l }}</p>
    <p><b>Email:</b> {{ e }}</p>
    <p><b>Contact Number:</b> {{ p }}</p>
    <p>If you need further details or actions regarding this registration,please feel free to reach out.</p>
    <h5>Best regards,</h5>
    <h5>SCOPE INDIA TEAM</h5>
</body>
</html>