<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="{% static 'images/cartoon.jpg' %}" width="30%" height="auto" style="padding-top: 1%;">
        <h1>Hello!!</h1>
        <h4>Guiding you to success with passion and precision</h4><br>
        <button style="padding: 1% 5%;background: linear-gradient(to right,rgb(43, 43, 137),rgb(197, 214, 232));margin-right: 2%;border: none;"><a href="login" style="text-decoration: none;color: rgb(197, 214, 232);">Sign In</a></button>
        <button style="padding: 1% 5%;background: linear-gradient(to right,rgb(197, 214, 232),rgb(43, 43, 137));margin-left: 1.5%;border: none;"><a href="signup" style="text-decoration: none;color:  rgb(5, 5, 96);">Sign Up</a></button>
    </div>
</body>
</html>