<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="cid:logo_image" alt="Company Logo" style="width: 50%; height: auto;padding-left: 30%;">
    <h2>Dear {{ f }} {{ l }},</h2>
    <p>Thank you for registering with <b>SCOPE INDIA!</b> We are delighted to have join our community.Below are your registration details:</p>
    <img src="cid:avatar_image" alt="User" height="150px" width="150px" style="border-radius: 50%;">
    <p><b>Username:</b> {{ f }} {{ l }}</p>
    <p><b>Email:</b> {{ e }}</p>
    <p>If any of the above information is incorrect or needs to be updated,please contact us at your earliest convinience.</p>
    <p>For any questions or support,feel free to reach out to us.</p>
    <p>Once again, Welcome to <b>SCOPE INDIA!</b> We look forward to supporting your learning journey.</p>
    <h3>Warm regards,</h3>
    <h3>SCOPE INDIA TEAM</h3><br><br>
    <h3>Contact Us:</h3>
    <p><b>Email: </b> <a href="sufiyasyed04@gmail.com">sufiyasyed04@gmail.com</a></p>
    <p><b>Phone: </b><a href="tel: +919952818475">+919952818475</a></p>
    <p><b>Website: </b><a href="www.scopeindia.org">www.scopeindia.org</a></p>
</body>
</html>